<div class="container" ng-controller="userController">
    <div class="row">
        <h1>Administrator {{userInfo.ime}} {{userInfo.prezime}}</h1>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="nav navbar-nav">
                    <!-- <li><a ng-href="#/ustanove">Korisnici</a></li> -->
                    <li ng-click="changeScreen('korisnici')"><a><h4>Korisnici</h4></a></li>
                    <li ng-click="changeScreen('ustanove')"><a><h4>Ustanove</h4></a></li>
                    <li ng-click="changeScreen('odjeli')"><a><h4>Nazivi Odjela</h4></a></li>
                    <li ng-click="changeScreen('pregledi')"><a><h4>Nazivi Pregleda</h4></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- KORISNICI -->
    <div class="row" ng-show="screenShow === 'korisnici' || !screenShow">
        <h3>Korisnici({{users.length}}): </h3>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Ime i Prezime</th>
                <th>Korisničko ime</th>
                <th>Uloga</th>
                <th>Status</th>
                <th>Akcije</th>
            </tr>
            <tr ng-repeat="user in users">
                <td class="text-primary"><a ng-href="#/user/{{user.id}}">{{user.id}}</a></td>
                <td class="text-primary"><a ng-href="#/user/{{user.id}}">{{user.ime}}</a></td>
                <td class="text-info"><a ng-href="#/user/{{user.id}}">{{user.username}}</a></td>
                <td>{{user.userRole.naziv}}</td>
                <td ng-show="user.status === 1">Aktiviran</td>
                <td ng-show="user.status === -1">Blokiran</td>
                <td ng-show="user.status === 0">Nedovršen</td>
                <td>
                    <button ng-disabled = "user.status == 1" ng-click="activateUser(user)" class="btn btn-success">Aktiviraj</button>
                    <button ng-disabled = "user.status == -1" ng-click="deactivateUser(user)" class="btn btn-warning">Deaktiviraj</button>
                    <button ng-click="deleteUser(user.id, $index)" class="btn btn-danger">Izbriši</button>
                </td>
            </tr>
        </table>
    </div>
    <!-- USTANOVE -->
    <div class="row" ng-show="screenShow === 'ustanove'" ng-init="addingNewUstanova = false">
        <div class="row">
            <h3>Ustanove({{ustanove.length}}): </h3>
            <button class="btn btn-success pull-right" ng-click="addingNewUstanova = !addingNewUstanova">Dodaj novu</button>
            <br><br>
        </div>
        <!-- Nova Ustanova -->
        <div ng-show="addingNewUstanova === true" class="row alert alert-info">
            <h4>Nova Ustanova: </h4>
            <p class="bg-info"> Nakon što ispunite osnonve podatke o ustanovi, potrebno je istu spremiti te zatim na stranici ustanove dodati nove odjele i preglede.
                Ustanova će imati neaktivan status te neće biti vidljiva korisnicima sve dok je administrator ne aktivira.
            </p>
            <br><br>
            <form novalidate name="newUstanovaForm" ng-submit="addNewUstanova(newUstanova); addingNewUstanova = false;" class="form-inline">
                <table class="table">
                    <tr>
                        <td><label for="newUstanovaIme">Ime: </label></td>
                        <td ng-class="{'has-error': newUstanovaForm.newUstanovaIme.$invalid && !newUstanovaForm.newUstanovaIme.$pristine}">
                            <input type="text" id="newUstanovaIme" name="newUstanovaIme" ng-model="newUstanova.ime" class="form-control" required ng-pattern="/^[a-zA-Z\s]*$/">
                        </td>
                        <td>
                            <span class="text-danger" ng-show="newUstanovaForm.newUstanovaIme.$error.pattern">Ime može sadržavati samo slova!</span>
                        </td>
                    </tr>
                    <tr>
                       <td><label for="newUstanovaVrsta">Vrsta ustanove: </label></td>
                       <td>
                           <select class="form-control" id="newUstanovaVrsta" name="newUstanovaVrsta" ng-model="newUstanova.vrstaUstanove" required>
                               <option ng-repeat="vrsta in vrsteUstanova" ng-value="vrsta">{{vrsta.naziv}}</option>
                           </select>
                       </td>
                    </tr>
                    <tr>
                        <td><label for="newUstanovaSpec">Specijalizacija ustanove: </label></td>
                        <td>
                            <select class="form-control" id="newUstanovaSpec" name="newUstanovaSpec" ng-model="newUstanova.specijalizacijaUstanove" required>
                                <option ng-repeat="spec in specijalizacijeUstanova" ng-value="spec">{{spec.naziv}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="newUstanovaMjesto"></label>Mjesto: </td>
                        <td>
                            <select class="form-control" id="newUstanovaMjesto" name="newUstanovaMjesto" ng-model="newUstanova.mjesto" required>
                                <option ng-repeat="mjesto in mjesta" ng-value="mjesto">{{mjesto.naziv}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="newUstanovaAdresa"></label>Adresa: </td>
                        <td ng-class="{'has-error': newUstanovaForm.newUstanovaAdresa.$invalid && !newUstanovaForm.newUstanovaAdresa.$pristine}">
                            <input type="text" id="newUstanovaAdresa" name="newUstanovaAdresa" ng-model="newUstanova.adresa" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="newUstanovaNaslov"></label>Naslov: </td>
                        <td ng-class="{'has-error': newUstanovaForm.newUstanovaNaslov.$invalid && !newUstanovaForm.newUstanovaNaslov.$pristine}">
                            <input type="text" id="newUstanovaNaslov" name="newUstanovaNaslov" ng-model="newUstanova.naslov" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="newUstanovaKratkiOpis"></label>Kratki opis: </td>
                        <td>
                            <textarea id="newUstanovaKratkiOpis" name="newUstanovaKratkiOpis" ng-model="newUstanova.kratkiOpis" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="newUstanovaSiriOpis"></label>Siri opis: </td>
                        <td>
                            <textarea id="newUstanovaSiriOpis" name="newUstanovaSiriOpis" ng-model="newUstanova.siriOpis" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="newUstanovaTelefon"></label>Telefon: </td>
                        <td ng-class="{'has-error': newUstanovaForm.newUstanovaTelefon.$invalid && !newUstanovaForm.newUstanovaTelefon.$pristine}">
                            <input type="text" id="newUstanovaTelefon" name="newUstanovaTelefon" ng-model="newUstanova.telefon" class="form-control" required ng-pattern="/^[a-zA-Z0-9]+$/">
                        </td>
                        <td>
                            <span class="text-danger" ng-show="newUstanovaForm.newUstanovaTelefon.$error.pattern">Telefon može sadržavati samo brojke!</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="newUstanovaEmail"></label>E-mail: </td>
                        <td ng-class="{'has-error': newUstanovaForm.newUstanovaEmail.$invalid && !newUstanovaForm.newUstanovaEmail.$pristine}">
                            <input type="text" id="newUstanovaEmail" name="newUstanovaEmail" ng-model="newUstanova.email" class="form-control" required>
                        </td>
                    </tr>
                </table>
                <button class="btn btn-success" ng-disabled="newUstanovaForm.$invalid">Spremi</button>
            </form>
        </div>
        <!-- Prikaz svih Ustanova -->
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Vrsta</th>
                <th>Specijalizacija</th>
                <th>Mjesto</th>
                <th>Akcije</th>
            </tr>
            <tr ng-repeat="ustanova in ustanove">
                <td class="text-primary"><a ng-href="#/ustanove/{{ustanova.id}}">{{ustanova.id}}</a></td>
                <td class="text-primary"><a ng-href="#/ustanove/{{ustanova.id}}">{{ustanova.ime}}</a></td>
                <td class="text-info">{{ustanova.vrstaUstanove.naziv}}</td>
                <td class="text-info">{{ustanova.specijalizacijaUstanove.naziv}}</td>
                <td class="text-info">{{ustanova.mjesto.naziv}}</td>
                <td>
                    <button ng-disabled = "ustanova.active" ng-click="activateUstanova(ustanova)" class="btn btn-success">Aktiviraj</button>
                    <button ng-disabled = "!ustanova.active" ng-click="deactivateUstanova(ustanova)" class="btn btn-warning">Deaktiviraj</button>
                    <button ng-click="deleteUstanova(ustanova.id, $index)" class="btn btn-danger">Izbriši</button>
                </td>
            </tr>
        </table>
    </div>
<!--ODJELI
    <div class="row" ng-show="screenShow === 'odjeli'">
        <h3>Odjeli({{odjeli.length}}): </h3>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Ustanova</th>
                <th>Akcije</th>
            </tr>
            <tr ng-repeat="odjel in odjeli"ng-init="">
                <td class="text-primary">{{odjel.id}}</td>
                <td class="text-primary">{{odjel.nazivOdjela.naziv}}</td>
                <td class="text-info">{{ustanoveOdjela[$index]}}</td>
                <td>
                    <button ng-disabled = "odjel.active" ng-click="activateOdjel(odjel)" class="btn btn-success">Aktiviraj</button>
                    <button ng-disabled = "!odjel.active" ng-click="deactivateOdjel(odjel)" class="btn btn-warning">Deaktiviraj</button>
                    <button ng-click="deleteOdjel(odjel.id, $index)" class="btn btn-danger">Izbriši</button>
                </td>
            </tr>
        </table>
    </div>
-->
    <!-- ODJELI -->
    <div class="row" ng-show="screenShow === 'odjeli'" ng-init="addingNewNazivOdjela = false;">
        <div class="row">
            <h3>Nazivi Odjela({{naziviOdjela.length}}): </h3>
            <button class="btn btn-success pull-right" ng-click="addingNewNazivOdjela = !addingNewNazivOdjela">
                Dodaj novi
            </button>
            <br><br>
        </div>
        <div class="row alert-info" ng-show="addingNewNazivOdjela">
            <h4 class="text-info">Novi naziv odjela</h4>
            <form novalidate name="newNazivodjelaForm" ng-submit="addNewNazivOdjela(newNazivodjela); addingNewNazivOdjela = false;" class="form-inline">
                <div class="form-group">
                    <label for="newNazivodjelaNaziv">Naziv: </label>
                    <input type="text" id="newNazivodjelaNaziv" name="newNazivodjelaNaziv" ng-model="newNazivodjela.naziv" class="form-control" required ng-pattern="/^[a-zA-Z\s]*$/">
                    <span class="text-danger" ng-show="newNazivodjelaForm.newNazivodjelaNaziv.$error.pattern">Naziv može sadržavati samo slova!</span>
                </div>
                <div class="form-group">
                    <label for="newNazivodjelaOpis">Opis: </label>
                    <textarea id="newNazivodjelaOpis" name="newNazivodjelaOpis" ng-model="newNazivodjela.opis" class="form-control"></textarea>
                </div>
                <button class="btn btn-success" ng-disabled="newNazivodjelaForm.$invalid">Spremi</button>
            </form>
            <br><br>
        </div>
        <div class="row" style="border-top: 1px solid #e0d4d9">
            <div class="col-md-1">
                <h4><b>Id</b></h4>
            </div>
            <div class="col-md-3">
                <h4><b>Naziv</b></h4>
            </div>
            <div class="col-md-4">
                <h4><b>Akcije</b></h4>
            </div>
        </div>
        <div class="row" ng-repeat="nazivOdjela in naziviOdjela" style="border-top: 1px solid #e0d4d9">
            <div class="col-md-1">
                <p class="text-primary" style="font-size: medium; margin-top: 10px">{{nazivOdjela.id}}</p>
            </div>
            <div class="col-md-3">
                <p class="text-primary" style="font-size: medium; margin-top: 10px">{{nazivOdjela.naziv}}</p>
            </div>
            <div class="col-md-4">
                <!--<button ng-click="deleteNazivOdjela(nazivOdjela.id)" class="btn btn-danger">Izbriši</button>-->
                <button ng-show="editingNazivOdjela != $index" ng-click="editingNazivOdjela = $index" class="btn btn-warning" style="margin: 5px 0">
                    Izmjeni
                </button>
                <button ng-show="editingNazivOdjela === $index" ng-click="editingNazivOdjela = -1" class="btn btn-danger" style="margin: 5px 0">
                    Odustani
                </button>
                <!--<button ng-click="updateNazivOdjel(nazivOdjela)" class="btn btn-warning">Izmjeni</button>-->
            </div>
            <div class="row alert-info" ng-show="editingNazivOdjela === $index" style="border-top: 1px solid #e0d4d9">
                <div class="col-lg-8">
                    <form novalidate name="nazivOdjelaForm" ng-submit="updateNazivOdjel(nazivOdjela, updatedNazivOdjela); editingNazivOdjela = -1;" class="form-inline">
                        <div class="form-group">
                            <label for="nazivOdjelaNaziv">Naziv: </label>
                            <input type="text" id="nazivOdjelaNaziv" name="nazivOdjelaNaziv" ng-model="updatedNazivOdjela.naziv" class="form-control" required ng-pattern="/^[a-zA-Z\s]*$/">
                            <span class="text-danger" ng-show="nazivOdjelaForm.nazivOdjelaNaziv.$error.pattern">Naziv može sadržavati samo slova!</span>
                        </div>
                        <div class="form-group">
                            <label for="nazivOdjelaOpis">Opis: </label>
                            <textarea id="nazivOdjelaOpis" name="nazivOdjelaOpis" ng-model="updatedNazivOdjela.opis" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-success" ng-disabled="nazivOdjelaForm.$invalid">Spremi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- PREGLEDI -->
    <div class="row" ng-show="screenShow === 'pregledi'" ng-init="addingNewNazivPregleda = false">
        <div class="row">
            <h3>Nazivi Pregleda({{naziviPregleda.length}}): </h3>
            <button class="btn btn-success pull-right" ng-click="addingNewNazivPregleda = !addingNewNazivPregleda">
                Dodaj novi
            </button>
            <br><br>
        </div>
        <div class="row alert alert-info" ng-show="addingNewNazivPregleda">
            <h4 class="text-info">Novi naziv pregleda</h4>
            <form novalidate name="newNazivPregledaForm" ng-submit="addNewNazivPregleda(newNazivPregleda); addingNewNazivPregleda = false;" class="form-inline">
                <div class="form-group">
                    <label for="newNazivPregledaNaziv">Naziv: </label>
                    <input type="text" id="newNazivPregledaNaziv" name="newNazivPregledaNaziv" ng-model="newNazivPregleda.naziv" class="form-control" required ng-pattern="/^[a-zA-Z\s]*$/">
                    <span class="text-danger" ng-show="newNazivPregledaForm.newNazivPregledaNaziv.$error.pattern">Naziv može sadržavati samo slova!</span>
                </div>
                <div class="form-group">
                    <label for="newNazivPregledaOpis">Opis: </label>
                    <textarea id="newNazivPregledaOpis" name="newNazivPregledaOpis" ng-model="newNazivPregleda.opis" class="form-control"></textarea>
                </div>
                <button class="btn btn-success" ng-disabled="newNazivPregledaForm.$invalid">Spremi</button>
            </form>
            <br><br>
        </div>
        <div class="row" style="border-top: 1px solid #e0d4d9">
            <div class="col-md-1">
                <h4><b>Id</b></h4>
            </div>
            <div class="col-md-3">
                <h4><b>Naziv</b></h4>
            </div>
            <div class="col-md-4">
                <h4><b>Akcije</b></h4>
            </div>
        </div>
        <div class="row" ng-repeat="nazivPregleda in naziviPregleda" style="border-top: 1px solid #e0d4d9">
            <div class="col-md-1">
                <p class="text-primary" style="font-size: medium; margin-top: 10px">{{nazivPregleda.id}}</p>
            </div>
            <div class="col-md-3">
                <p class="text-primary" style="font-size: medium; margin-top: 10px">{{nazivPregleda.naziv}}</p>
            </div>
            <div class="col-md-4">
                <button ng-show="editingNazivPregelda != $index" ng-click="editingNazivPregelda = $index" class="btn btn-warning" style="margin: 5px 0">
                    Izmjeni
                </button>
                <button ng-show="editingNazivPregelda === $index" ng-click="editingNazivPregelda = -1" class="btn btn-danger" style="margin: 5px 0">
                    Odustani
                </button>
            </div>
            <div class="row alert alert-info" ng-show="editingNazivPregelda === $index" style="border-top: 1px solid #e0d4d9">
                <div class="col-lg-8">
                    <form novalidate name="nazivPregledaForm" ng-submit="updateNazivPrelgeda(nazivPregleda, updatedNazivPregleda); editingNazivPregelda = -1;" class="form-inline">
                        <div class="form-group">
                            <label for="nazivOdjelaNaziv">Naziv: </label>
                            <input type="text" id="nazivPregledaNaziv" name="nazivPregledaNaziv" ng-model="updatedNazivPregleda.naziv" class="form-control" required ng-pattern="/^[a-zA-Z\s]*$/">
                            <span class="text-danger" ng-show="nazivPregledaForm.nazivPregledaNaziv.$error.pattern">Naziv može sadržavati samo slova!</span>
                        </div>
                        <div class="form-group">
                            <label for="nazivPregledaOpis">Opis: </label>
                            <textarea id="nazivPregledaOpis" name="nazivPregledaOpis" ng-model="updatedNazivPregleda.opis" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-success" ng-disabled="nazivPregledaForm.$invalid">Spremi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>