<div ng-controller="homeController">
    <!-- <a ng-href="#/testOnly">Odi na stranicu za testiranje</a> -->

    <div id="jumbo" class="jumbotron container-fluid">
        <div id="jumboText" class="container">
            <h1>Dobro došli na stranice Hrvatskoga Zdravstva</h1>
            <p>Ovdje možete saznati osnovne informacije o Hrvatskim bolnicama, poliklinikama, domovima zdravlja, doktorima i sl . Također su vam dostupne i zadnje
                informacije o redovima čekanja za pojedinu pretragu na koje se možete i prijaviti.</p>
            <p><a class="btn btn-primary btn-lg" href="#/oNama" role="button">Saznaj više</a></p>
        </div>
    </div>

</div>