<div class="container-fluid" style="">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-success">Prijava</h1>
            <form class="alert" style="border: 10px solid white">
                <div class="form-group form-group-lg">
                    <label for="username">Korisničko ime: </label>
                    <input type="text" class="form-control" id="username" placeholder="Korisničko ime">
                </div>
                <div class="form-group form-group-lg">
                    <label for="password">Lozinka: </label>
                    <input type="text" class="form-control" id="password" placeholder="Lozinka">
                </div>
                <button type="submit" class="btn btn-success btn-lg">Prijavi se</button>
            </form>
        </div>
        <div class="col-md-6">
            <h1 class="text-primary">Registracija</h1>
        </div>
    </div>
</div>