<div class="container-fluid" style="">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-success">Prijava</h1>
            <form class="alert">
                <p ng-show="authenticationError" class="alert alert-danger">
                    Netočni podaci! Molimo provjerite vaše podatke i pokušajte ponovo.
                </p>
                <div class="form-group form-group-lg">
                    <label for="username">Korisničko ime: </label>
                    <input type="text" class="form-control" id="username" placeholder="Korisničko ime" ng-model="username">
                </div>
                <div class="form-group form-group-lg">
                    <label for="password">Lozinka: </label>
                    <input type="password" class="form-control" id="password" placeholder="Lozinka" ng-model="password">
                </div>
                <button class="btn btn-success btn-lg" ng-click="login()">Prijavi se</button>
            </form>
        </div>

        <div class="col-md-6">
            <h1 class="text-primary">Registracija</h1>
            <form novalidate name="registrationForm" ng-submit="registrate()" class="alert">
                <p ng-show="userAlreadyExist" class="alert alert-danger">
                    Korisnik sa istim korisničkim imenom već postoji!
                </p>
                <div class="form-group form-group-lg" ng-class="{'has-error': registrationForm.ime.$invalid && !registrationForm.ime.$pristine}">
                    <label for="ime">Ime</label>
                    <input type="text" name="ime" id="ime" ng-model="newUserInfo.ime" class="form-control" placeholder="ime" required ng-pattern="/^[a-zA-Z\s]*$/">
                    <p class="help-block" ng-show="registrationForm.ime.$error.pattern"> Ime može sadržavati samo slova!</p>
                </div>
                <div class="form-group form-group-lg" ng-class="{'has-error': registrationForm.prezime.$invalid && !registrationForm.prezime.$pristine}">
                    <label for="prezime">Prezime</label>
                    <input type="text" name="prezime" id="prezime" ng-model="newUserInfo.prezime" class="form-control" placeholder="prezime" required ng-pattern="/^[a-zA-Z\s]*$/">
                    <p class="help-block" ng-show="registrationForm.prezime.$error.pattern">Prezime može sadržavati samo slova!</p>
                </div>
                <div class="form-group form-group-lg" ng-class="{'has-error': registrationForm.usernameReg.$invalid && !registrationForm.usernameReg.$pristine}">
                    <label for="usernameReg">Korisničko ime</label>
                    <input type="text" name="usernameReg" id="usernameReg" ng-model="newUserInfo.username" class="form-control" placeholder="username" required ng-pattern="/^[a-zA-Z0-9]+$/">
                    <p class="help-block" ng-show="registrationForm.usernameReg.$error.pattern && registrationForm.usernameReg.$invalid">
                        Korisničko ime može sadržavati samo slova i brojke!
                    </p>
                </div>
                <div class="form-group form-group-lg" ng-class="{'has-error': registrationForm.email.$invalid && !registrationForm.email.$pristine}">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" ng-model="newUserInfo.email" class="form-control" placeholder="email" required>
                    <p class="help-block" ng-show="registrationForm.email.$invalid && registrationForm.email.$dirty">Email nije ispravan!</p>
                </div>
                <div class="form-group form-group-lg">
                    <label for="passwordReg">Lozinka</label>
                    <input type="password" name="passwordReg" id="passwordReg" ng-model="newUserInfo.password" class="form-control" placeholder="lozinka" required>
                    <!-- <p class="help-block" ng-show="x"></p> -->
                </div>
                <div class="form-group form-group-lg">
                    <label for="passwordReg2">Ponovljena lozinka</label>
                    <input type="password" name="passwordReg2" id="passwordReg2" ng-model="password2" class="form-control" placeholder="lozinka" required>
                    <p class="text-danger" ng-show="newUserInfo.password !== password2">Lozinke se moraju podudarati</p>
                </div>
                <button class="btn btn-success btn-lg btn-info" ng-disabled="registrationForm.$invalid || newUserInfo.password !== password2">Registriraj se</button>
            </form>
        </div>
    </div>
</div>