<div ng-controller="pregledController" class="container" ng-init="editingPregled = false" ng-show="pregled && pregled != ''">
    <div class="row">
        <h2 class="text-primary">{{pregled.nazivPregleda.naziv}}</h2>
        <a class="text-info" ng-href="#/ustanove/{{pregled.idUstanove}}">{{pregled.imeUstanove}}</a>
        <span> &gt; </span>
        <a class="text-info" ng-href="#/odjeli/{{pregled.idOdjela}}">{{pregled.imeOdjela}}</a>
        <span> &gt; </span>
        <span>{{pregled.nazivPregleda.naziv}}</span>
        <button class="btn btn-warning pull-right" ng-show="role === 'admin'" ng-click="editingPregled = !editingPregled">
            Izmjeni
        </button>
        <br><br>
    </div>

    <!-- Izmjena pregleda -->
    <div ng-show="role === 'admin' && editingPregled === true" class="row alert alert-info">
        <h4>Izmjena podataka za pregled: </h4>
        <br><br>
        <form novalidate name="updatePregledForm" ng-submit="updatePregled(updatedPregled); editingPregled = false;" class="form-inline">
            <table class="table">
                <tr>
                    <td><label for="updatePregledNazivOdjela">Naziv pregleda: </label></td>
                    <td>
                        <select class="form-control" id="updatePregledNazivOdjela" name="updatePregledNazivOdjela" ng-model="updatedPregled.nazivPregleda" required>
                            <option ng-repeat="nazivPregleda in naziviPregleda" ng-value="nazivPregleda">{{nazivPregleda.naziv}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="updatePregledPrivatniOpis">Opis pregleda: </label></td>
                    <td>
                        <textarea id="updatePregledPrivatniOpis" name="updatePregledPrivatniOpis" ng-model="updatedPregled.opis" class="form-control"></textarea>
                    </td>
                </tr>
            </table>
            <button class="btn btn-success" ng-disabled="updatePregledForm.$invalid">Spremi</button>
        </form>
    </div>

    <div>
        <p><span style="font-weight: bold">Ustanova: </span> {{pregled.imeUstanove}}</p>
        <p><span style="font-weight: bold">Odjel: </span> {{pregled.imeOdjela}}</p>
        <p><span style="font-weight: bold">Opis pregleda:</span> {{pregled.nazivPregleda.opis}}</p>
    </div>
    <br>
    <div ng-show="role !== 'admin'">
        <h4>Prvi dostupan termin je: {{pregled.lastDateString}} u {{pregled.lastTimeString}}</h4>
        <div ng-show="role === 'pacijent'" style="display: inline-block">
            <span>ili odaberite drugi termin: </span>
            <md-datepicker style="display: inline-block" ng-disabled="!accessToSign || userInfo.status != 1" md-min-date="minDate" md-max-date="maxDate" md-date-filter="validateDates" md-placeholder="Unesi datum" ng-model="datum"></md-datepicker>
            <span> Vrijeme: </span>
            <select ng-disabled="!accessToSign || userInfo.status != 1" style="display: inline-block; width: auto" class="form-control" id="satPregleda" name="satPregleda" ng-model="satPregleda">
                <option ng-repeat="hour in hours" ng-value="hour.val">{{hour.str}}</option>
            </select>
            <!--<md-time-picker style="display: inline-block" ng-disabled="!accessToSign || userInfo.status != 1" ng-model="vrijeme" mandatory="true" no-meridiem no-auto-switch></md-time-picker> -->
        </div>
        <button ng-show="role === 'pacijent'" ng-disabled="!accessToSign || userInfo.status != 1" style="display: inline-block" class="btn btn-default" ng-click="checkIfAvailable($event)">
            Provjeri dostupnost
        </button>
        <br>
        <button class="btn btn-info" ng-show="role === 'pacijent'" ng-disabled="!accessToSign || userInfo.status != 1" ng-click="prijavaPregleda($event, userInfo.id, pregled.id)">
            Prijavi se
        </button>
        <p class="text-muted" ng-show="!role || role === ''">Uzmite u obzir da se datum pregleda može promijeniti u svakome trenurku.
            Registrirani korisnici imaju pravo prijave na pregled.</p>
        <p class="text-warning" ng-show="role === 'pacijent' && !accessToSign && userInfo.status === 1">Već ste se prijavili na ovaj pregled, te vam je on još uvijek aktivan i važeći</p>
        <p class="text-danger" ng-show="role === 'pacijent' && userInfo.status === 0">Trenutno još uvijek niste aktivni korisnik.
            Molimo Vas da ispunite sve podatke na vašoj profil stranici.</p>
        <p class="text-danger" ng-show="role === 'pacijent' && userInfo.status === -1">
            Vaš korisnički račun je blokiran, molimo Vas da se obratite administratoru.
        </p>

    </div>
</div>